.composition{
    position: relative;
    text-align: center;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .4);
        border-radius: 2px;
        // position: absolute;
        z-index: 1;
        transition: all .2s;
        outline-offset: 2rem;

        &:hover{
            box-shadow: 0 2.5rem 4rem rgba($color-black, $alpha: .5);
            transform: scale(1.05) translateY(-.5rem);
            z-index: 2;
            outline: 1rem solid $color-primary;
        }
    }
}